asttokens
cffi
charset-normalizer
colorama
comm
cryptography
debugpy
decorator
executing
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
numpy
pandas
parso
pdf2image
pdfminer.six
pdfplumber
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pypdfium2
pytesseract
python-dateutil
pytz
pyzmq
six
stack-data
tornado
traitlets
typing_extensions
tzdata
wcwidth
weasyprint